
extends ../layout

block content

  h1 Paste JSON formated script to be run.

  div
    form(role='form' method='PUT' class='form-horizontal' id="configureform")
      div(class='form-group')
        label(class='control-label col-sm-2') JSON
        div(class='col-sm-10')
          textarea(rows= '8' cols='60' name='jsonscript')

      div(class='form-group')
        div(class='col-sm-10')
          input(class='btn btn-default' type='button' onclick='ajaxRequest("PUT", "/script", "configureform")' value='Run script')

  p Example
  pre
    code {
          |  "0": {
          |   "loss": 20,
          |   "delay": 5
          |  },
          |  "5": {
          |   "loss": 10,
          |   "delay": 2
          |  }
          | }

  p Command description
    div(class='well')
      p
        b limit
        br
        | (packet amount) Limits the effect of selected options to the indicated number of next packets.

      p
        b delay
        br
        | (milliseconds) Delay packet traffic by set amount.

      p
        b delayvariance
        br
        | (milliseconds) REQUIRES delay. Optional parameter for delay which introduces a delay variation.

      p
        b corrupt
        br 
        | (percent) Allows the emulation of random noise introducing an error in a random position for a chosen percent of packets.

      p
        b duplicate
        br
        | (percent) Duplicates the chosen percent of packets before queuing them.

      p
        b loss
        br
        | (percent) Adds an independent loss probability to the packets outgoing from the chosen network interface.

      p
        b reorder
        br
        | (percent) REQUIRES delay. Set percent of packets are sent immediately, while others are delayed by set delay time

      p
        b rate
        br
        | (bits) Delay packets based on packet size.