
extends ../layout

block content

  h1 Set target

  div
    form(role='form' method='PUT' class='form-horizontal' id="configureform")
      div(class='form-group')
        label(class='control-label col-sm-2') CB Client
        div(class='col-sm-10')
          input(type='text' name='clienturl')

      div(class='form-group')
        label(class='control-label col-sm-2') CB API
        div(class='col-sm-10')
          input(type='text' name='apiurl')

      div(class='form-group')
        label(class='control-label col-sm-2') CB IO
        div(class='col-sm-10')
          input(type='text' name='iourl')

      div(class='form-group')
        div(class='col-sm-10')
          input(class='btn btn-default' type='button' onclick='ajaxRequest("PUT", "/target", "configureform")' value='Set')