doctype html
html
  head
    title Noise API
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
    link(rel='stylesheet' href='../static/stylesheets/style.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='../static/js/utility.js')

body
  //#{authe = state.authenticated}
  div(class='wrapper')
    nav(class='navbar navbar-inverse navbar-static-top')
      div(class='container')
        a(class='navbar-brand' href='/') Noise Manager
        ul(class='nav navbar-nav')
          li
            a(href='/') Home
          li
            a(href='/gui/configure') Configure
          li
            a(href='/gui/target') Set targets
    div(class='well')
      div(role='alert' id='status' style='display: none')
      block content
